body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border-style: solid;
  border-width: 5px;
}

.header{
  background-color: aqua;
  border-style: solid;
  border-width: 5px;
}

nav a {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

.card {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 50%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}